body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('foto/image.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

input[type="text"] {
    width: 80%;
    padding: 20px;
    margin: 30px 0;
    border: none;
    border-radius: 7px;
}

button {
    padding: 10px 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
}
